h1{
    text-align: center;
    
}

p{
    text-align: justify;
    line-height: 2.5;
    letter-spacing: 3px;
    font-size: 10px;
    font-family: fantasy;
}

h3{
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: red;
}