

.face{
    height: 140px;
    width: 140px;
    border: 2px solid yellow;
    border-radius: 50%;
    background-color: yellow;
}


.leftEye,.rightEye{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 35px;
    top:30px
}

.rightEye{
     left: 105px;
     top:30px
}



.mouth{
    width: 50px;
    height: 30px;
    background-color: brown;
    border-radius:10px ;
    position: absolute;
    left: 50px;
    top: 90px;

}