h2{
    color: rgb(232, 133, 11);
}

span{
    color: rgb(232, 133, 11);
}
.card{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
}

img{
    width: 100%;
    border-radius: 25px;
}

#pets{
      display: flex;
      justify-content: space-evenly;
}

@media(min-width:0px) and (max-width:800px){
    .card{
        /* overflow-x: auto; */
        flex-wrap: wrap;
    }
}