.container{
    width: 600px;
    height: 300px;
    background-color: black;
    border: 2px solid green;
    /* display: flex;  in case of flex the child will arrange in main axis row direction*/
    
    display: grid; 
    /* incase of grid the child items arranged in column direction with space separation */
    /* grid-template-rows: 100px 100px 100px 100px 100px; */
    /* grid-template-columns: 100px 100px 100px 100px 100px; */

     /* grid-template-columns: auto; */
     /* incase of auto takes as much space as its content needs */

     grid-template-rows: repeat(5,1fr);
     grid-template-columns: repeat(3,1fr);
     
     /* individually we can set gap between rows and columns */
/* 
     row-gap: 20px;
     column-gap: 30px; */

     /* we can set gap rows and columns by using grid-gap */
     grid-gap: 20px 30px;
}

.item{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
}