.card{
    height: 200px;
    width: 150px;
    display: inline-block;
    margin: 5px;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
}

#profileImage{
    background-color: blueviolet;
    text-align: center;
    border-radius: 20px;
}

img{
    width: 100px;
}

#name{
    font-weight: bold;
}

.card:hover{
    box-shadow: 2px 2px 20px gold;
}