.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid salmon;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid blue;
    margin: 10px;
}