.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid saddlebrown;

}

.b1{
    flex-grow:2;
}

.b2{
    flex-grow: 1;
}

.b3{
    flex-grow: 1;
}