div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
    background-color: green;
}

#static{
    background-color: yellow;
    position: static;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#relative{
    background-color: aqua;
    position: relative;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#absolute{
    background-color: yellow;
    position: absolute;
    top: 10px;
}