#outer{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 10px;
}

#yellow{
    height: 100px;
    width:100px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
}

#red{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: red;
    text-align: center;
}

#green{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: green;
    text-align: center;
}

#aqua{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;

    text-align: center;
}

#maroon{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: maroon;

    text-align: center;
}