.container{
    width:100vw;
    height: 100vh;
    border:2px solid black;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid red;
}

