.container{
    width: 500px;
    height: 200px;
    display: grid;
    border: 2px solid black;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px 10px;
}

.header{
    grid-row: 1/12;
    grid-column: 1/12;
}

.sidebar{
    grid-row: 2/11;
    grid-column: 1/3;
}

.navigation{
    grid-row: 2/3;
    grid-column: 4/9;
}

.main{
    grid-row: 3/11;
    grid-column: 4/9;
}

.ads{
    grid-row: 2/11;
    grid-column: 10/12;
}

.footer{
    grid-row: 11/12;
    grid-column: 1/12;
}

@media(min-width:720px){
    .header{
        grid-row: 1/2;
        grid-column: 1/12;
    }

    .navigation{
        grid-row: 2/3;
        grid-column: 1/12;
    }

    .sidebar{
        grid-row: 3/8;
        grid-column: 1/3;
    }

    .main{
        grid-row: 3/12;
        grid-column: 3/12;
    }

    .ads{
        grid-row: 11/12;
        grid-column: 1/3;
    }

    .footer{
        grid-row: 11/12;
        grid-column: 3/12;
    }
}