*{
    text-align: center;
}

#mainTopic{
    color: blue;
}

h1,h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para{
    color: white;
    background-color: cornflowerblue;
}

div button{
    background-color: purple;
    color: azure;
}

div button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(1n){
    color: yellow;
}


h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked + label{
    color: darkgreen;
}