#outer{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#yellow{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: yellow;
    margin: 10px;
    text-align: center;
}

#red{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: red;
    margin: 10px;
        text-align: center;
}

#green{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: green;
    margin: 10px;
    text-align: center;
}

#aqua{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    margin: 10px;
    text-align: center;
}

#maroon{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: maroon;
    margin: 10px;
    text-align: center;
}