.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid palegreen;
}