h1{
    color: blue;
    background-color: black;
}

p{
    color: red;
    background-color: antiquewhite;
}

h2{
    color: rgb(151, 78, 41);
    background-color: rgb(0,0,0);
}

h3{
    color:#1647da;
    background-color: #de900b;
}