#outer{
    height: 300px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    margin: 10px;
}

#yellow{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
}

#red{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    background-color: red;
    text-align: center;
}

#green{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    background-color: green;
    text-align: center;
}

#aqua{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    background-color: aqua;

    text-align: center;
}

#maroon{
    height: 100px;
    width: 50px;
    border: 2px solid black;
    background-color: maroon;

    text-align: center;
}