.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid sandybrown;
    display: flex;
    justify-content: space-around;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid blue;
}

