.container{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* p{
    text-align: center;
} */