.container{
    width: 600px;
    height: 300px;
    background-color: black;
    border: 2px solid green;
    /* display: flex;  in case of flex the child will arrange in main axis row direction*/
    
    display: grid; 
    /* incase of grid the child items arranged in column direction with space separation */
    /* grid-template-rows: 100px 100px 100px 100px 100px; */
    /* grid-template-columns: 100px 100px 100px 100px 100px; */

     /* grid-template-columns: auto; */
     /* incase of auto takes as much space as its content needs */

     grid-template-rows: repeat(5,1fr);
     grid-template-columns: repeat(4,1fr);
}

.item{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
}