*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color:#1b74e4;
    font-weight: bold;
}

.btn{
    background-color: aqua;
}

#search{
    background-color: black;
    color: white;
}