.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.box{
    width: 100px;
    height: 50px;
    border: 2px solid salmon;
}

.b5{
    align-self: flex-end;
}

